
.popular-btn-container {   
    background: #FFFFFF;
    position: absolute;
    top: 20px;
    right: 25px;
    border-radius: 8px;
    padding: 6px 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}

.popular-btn-container span {   
    margin-right: 5px;
}