/* src/components/FeaturedCard.css */
.featured-card {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 250px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 auto;
}

.card-overlay {
  background: rgba(0, 0, 0, 0.35);
  height: 100%;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-labels {
  display: flex;
  justify-content: space-between;
}

.serenity-label {
  background-color: white;
  color: black;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.popular-label {
  background-color: #7a4be9;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.card-content h3 {
  margin: 0;
  font-size: 20px;
}

.category {
  margin: 4px 0;
  font-weight: bold;
}

.address {
  font-size: 14px;
}

.rating-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.view-more {
  color: #fff;
  text-decoration: underline;
}
