.footer {
  background-color: #f9f9f9;
  padding: 40px;
  font-family: sans-serif;
  color: #333;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}

.footer-logo {
  width: 150px;
  height: 130px;
}

.footer-columns {
  display: flex;
  gap: 600px;
  flex-wrap: wrap;
}

.column h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 5px;
}

.app-links img {
  height: 32px;
  margin-right: 10px;
}

.footer-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.footer-bottom span {
  cursor: pointer;
  text-decoration: underline;
}

.social-icons i {
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}
